<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-optionsmenu"
    version="1.0.23">
	
    <name>OptionsMenu</name>
    <description>OptionsMenu</description>
    <license>MIT</license>
    <keywords>cordova,optionsmenu</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-optionsmenu</repo>
 	
	<!-- window.optionsmenu.xxx(); -->
	<!-- optionsmenu.xxx(); -->	
    <js-module src="www/optionsmenu.js" name="optionsmenu">
        <clobbers target="window.optionsmenu" />
    </js-module>
	
    <!-- android -->
    <platform name="android">
	    <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OptionsMenu" >
                <param name="android-package" value="com.cranberrygame.cordova.plugin.optionsmenu.OptionsMenu"/>
            </feature>
        </config-file>
		
        <source-file src="src/android/OptionsMenu.java" target-dir="src/com/cranberrygame/cordova/plugin/optionsmenu" />
    </platform>

</plugin>